/* SELECTORS . */
/* .class */
/* #id */
/* h2 */

* {
    text-align: center;
}

.game-body{
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    padding-bottom: 10px;  /*This makes a bit of margin under the footer!*/

    /* background: rgb(93,173,233);
    background: linear-gradient(180deg, rgba(93,173,233,1) 17%, rgba(95,198,173,1) 51%, rgba(95,203,160,1) 100%); */
    background-image: url('../assets/blue-background-5.png');    
    background-position: center;
    background-repeat: repeat;
    background-size: 10em;
}

.modal-wrapper{
    position: absolute;
    z-index: 2000;
    /* height: 100% !important; */
    /* height: 100% !important;
    overflow: visible; */
}








.nav-wrapper{
    /* background-color: aqua; */
    /* background-color: white; */
    width: 100vw;
    height: clamp(50px, 10vh, 10vh);
    overflow: hidden;
}

.nav{
    /* display: flex; */
    /* justify-content: center; */
    /* justify-content: flex-end; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper{
    height: clamp(50px, 10vh, 10vh);
    max-width: 70%;
}


.game-logo{
    width: auto;
    margin-top: 10px;
}


.game-logo, .nav>svg {
    filter: drop-shadow(5px 5px 5px rgb(118, 117, 117));
}


.info-wrapper{
    padding-top: 20px;
    font-weight: bolder;
    /* font-family: 'Nunito', sans-serif; */
    color:rgb(77, 76, 76);
}

.main-wrapper{
    background-color: rgba(255, 255, 255, 0.8);
    filter: drop-shadow(1px 1px 1px rgb(101, 99, 99));
    border-radius: 25px;
    padding-bottom: 10px;
}

#display-image{
    padding-bottom: 10px;
}


@media only screen and (max-width: 479px) {
    #image0, #image1, #image2, #image3 {text-align: center}
    #display-image{width: 345px; height: 200px}
    .game-logo{height: 65%} 
    .nav>svg{height: 8vh; padding: 5px;}
}

@media only screen and (min-width: 480px) and (max-width: 575px) {
    #image0, #image1, #image2, #image3 {text-align: center}
    #display-image{width: 450px; height: 270px}
    .game-logo{height: 80%}
    /* button, input {font-size: 13px; padding: 15px, 30px, 15px, 30px} */
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) and  (max-width: 767px) {
    #image0, #image2{text-align: right}
    #image1, #image3{text-align: left}
    #display-image{width: 500px; height: 300px}
    .game-logo{height: 90%}
  }

@media only screen and (min-width: 768px) {
    .main-wrapper{width: 696px}
    #image0, #image2{text-align: right}
    #image1, #image3{text-align: left}
    #display-image{width: 500px; height: 300px}
    .game-logo{height: 90%}
}

input {
    border-style: none;
}

button{
    border-radius: 10px;
    border-color: rgb(166, 164, 164);
}
