* {
    text-align: center;
}

.header {
    text-decoration: underline;
}

.tutorial-contents {
    text-align: left;
}

.no_bullet {
    list-style: none;
}

/* #imageWrapper {
    background-color: yellow;
    display: grid;
    justify-items: space-around;
    grid-template-columns: 160px 160px;
    grid-template-rows: 160px 160px;
    align-items: center;
    justify-content: center;
  } */
